@{
    ViewBag.Title = "Home Page";

    var minDate = new DateTime(1993, 06, 26);
    var maxDate = new DateTime(2014, 12, 31);
}

<h1>@Resources.ExchangeRates.Hdr_ExchangeRatesDifference</h1>
@Html.Raw(@Resources.ExchangeRates.Hdr_ExchangeRatesDifferenceGuideline)

<form name="exchangeRatesForm" ng-app="currencyApp" ng-controller="currencyControllerPlusPlus" ng-cloak>
    <div>
        <label for="dateFilter">@Resources.ExchangeRates.Lbl_ChooseDate</label>
        <input id="dateFilter" name="dateFilter" type="date" placeholder="yyyy-MM-dd" 
               ng-model="date" min="@minDate.ToShortDateString()" max="@maxDate.ToShortDateString()" required=""/>
        <span class="error" ng-show="!exchangeRatesForm.dateFilter.$valid && exchangeRatesForm.dateFilter.$dirty">
            @String.Format(Resources.ExchangeRates.Err_WrongDateInput, @minDate.ToShortDateString(), @maxDate.ToShortDateString())
        </span>
        <a href="" class="btn btn-default" ng-click="GetExchangeRates()">@Resources.ExchangeRates.Btn_GetExchangeRates</a>
    </div>
    <div class="col-md-4" ng-hide="hideExchangeRates">
        <div>
            @Html.Partial("ExchangeRatesPlusPlus")
        </div>
    </div>
</form>