@{
    ViewBag.Title = "Home Page";

    var minDate = new DateTime(1993, 06, 26);
    var maxDate = new DateTime(2014, 12, 31);
}

<h1>@Resources.ExchangeRates.Hdr_ExchangeRatesDifference</h1>
<h3>@Resources.ExchangeRates.Hdr_ExchangeRatesDifferenceGuideline</h3>

<form name="exchangeRatesForm" ng-app="currencyApp" ng-controller="currencyController" ng-cloak>
    <div>
        <label for="dateFilter">@Resources.ExchangeRates.Lbl_ChooseDate</label>
        <input id="dateFilter" name="dateFilter" type="date" placeholder="yyyy-MM-dd"
               ng-model="date" ng-change="GetExchangeRates()" min="@minDate.ToShortDateString()" max="@maxDate.ToShortDateString()" required="" />
        <img src="/Content/images/loading.gif" ng-show="isLoading" />
        <span class="error" ng-show="!exchangeRatesForm.dateFilter.$valid && exchangeRatesForm.dateFilter.$dirty">
            @String.Format(Resources.ExchangeRates.Err_WrongDateInput, @minDate.ToShortDateString(), @maxDate.ToShortDateString())
        </span>
    </div>


    <div class="col-md-4" ng-hide="hideExchangeRates">
        <div>
            @Html.Partial("ExchangeRates")
        </div>
    </div>
</form>